html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    
}

#top {
    background-color: #08070b;
    font-family: 'Roboto Mono', monospace;
    display: grid;
    grid-template-columns:2fr 1fr;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    vertical-align: bottom;
    width: 100%;
    min-height: 100vh;
    background-size: cover;
    background-attachment: fixed;
}

@keyframes go-back {
    0% {
        transform: translateY(50px);
    }
    100% {
        transform: translateY(0);
    }
}

#astronautIMG{
    
    height:500px;
    animation: go-back 1s infinite alternate;
}
.header {
    width:100%;
    text-align: center;
}

h1 {
    font-size: 40px;
    margin: 0;
    color: white;
}


#down {
    font-size: 50px !important;
    margin-top: 90vh;
    z-index: 5;
}


@media screen and (width< 900px) {
    #top {
        padding-top: 50px;
        display: flex;
        flex-wrap: wrap;
  }

